.flex-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
}

.flex-item {
  border: 1px solid gray;
  background: whtie;
  color: grey;
  font-size: 1em;
  text-align: center;
  flex-basis: 0;
  flex-grow: 1;
}
.active-horai {
  border: 2px solid green;
}
.active {
  background: greenyellow;
}

.short-text {
  display: none;
}

.sucess {
  background: rgb(141, 236, 141);
}
.warning {
  background: rgb(255, 255, 127);
}
.error {
  background: rgb(253, 168, 168);
}

@media screen and (max-device-width: 1000px) {
  .short-text {
    display: inline-block !important;
  }
  .long-text {
    display: none !important;
  }
}

@media screen and (max-device-width: 1000px) {
  .short-text {
    display: inline-block !important;
  }
  .grow-2 {
    flex-grow: 1;
  }
  .long-text {
    display: none !important;
  }
}
